/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/

/* ----- main ---- */
main {
  margin: auto;
  max-width: 540px;
}

/* tablet */
@media only screen and (min-width: 540px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
  }
}

/* desktop */
@media only screen and (min-width: 960px) {
  main {
    max-width: 100%;
  }
}

/* ---- header one ---- */
h1 {
  text-align: center;
}

/* ---- contact-row ----*/

/* tablet */
@media only screen and (min-width: 540px) {
  .contact-row {
    display: flex;
    flex-direction: row;
    /* all items should be the same width */
    flex: 1;
  }
}

/* ---- contacts section ---- */
.contacts {
  margin: auto;
  text-align: center;
}

/* desktop */
@media only screen and (min-width: 960px) {
  .contacts {
    display: flex;
  }
}

/* ---- contact card ----*/
.contact-card {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #9ec2e6, -2px -2px 5px #9ec2e6;
}

/* tablet */
@media only screen and (min-width: 540px) {
  .contact-card {
    display: flex;
    /* all items should be the same width */
    flex: 1;
  }
}

/* desktop */
@media only screen and (min-width: 960px) {
  .contact-card {
    flex-direction: column;
    margin: 15px;
  }
}

/* ---- contact card content ----*/

.contact-profile-photo {
  display: block;
  border-radius: 50%;
  margin: auto;
  max-width: 40%;
}

.contact-card-text {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 540px) {
  .contact-card-text {
    text-align: left;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 960px) {
  .contact-card-text {
    text-align: center;
    padding: 0;
  }
}

